ZZ9000_proto.cache
wave
*.log
*.str
*.jou
*.hdf
ZZ9000_proto.srcs/sources_1/bd
ZZ9000_proto.sdk/zz9000_ps_wrapper_hw_platform_0
ZZ9000_proto.runs
ZZ9000_proto.sim
ZZ9000_proto.hw
ZZ9000_proto.tmp
ZZ9000_proto.ip_user_files
.metadata
.sdk
.cproject
.project
.sdkproject
.settings
_metadata
webtalk
attic
bak
masscopy*.sh
SDK.log.*
ZZ9000_proto.srcs/sources_1
ZZ9000_proto.sdk/ZZ9000Test/bootimage/BOOT.bin

